<div class="container">

    <div class="form-group">
        <label for="salutation"> Role Type</label>
        <select placeholder="roleType" class="form-control" (change)="click($event)">  
                    <option value="please select" disabled></option>
                    <option value="Admin">Admin</option>
                    <option value="Supervisor">Supervisor</option>
                    <option value="Agent">Agent</option>
                    <option value="Customer">Customer</option>  
                </select>
    </div>
    <button (click)="google()" [disabled]="siginInButton">
        <i class="fa fa-google"></i> Connect Google
       </button>
</div>