<div *ngIf="auth.user$ | async as User">
        
    <h3>Howdy, {{ User.name}}</h3>
    <img  [src]="User.photoURL">
    <p>UID: {{ User.uid }}</p>
    <button (click)="auth.signOut()">Logout</button>
    <input type="text" name="number" (change)="change($event)">
    <button (click)="PhoneUpdate()">Update</button>
    
</div>