@import "~bootstrap/dist/css/bootstrap.min.css"; 


.google { background-color: #DB4437; } 
.facebook { background-color: #3B5998; } 
.twitter { background-color: #55ACEE; } 
.github { background-color: #333333; } 
.email { background-color: #FFFFFF; color: #757575; } 
.phone { background-color: #02BD7E; }

.container{
    max-height: fit-content;
}